body, html {
  background-image: url(https://images.alphacoders.com/876/876589.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100vw;
  height: 100%;
}
